<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>first app</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <ul class="nav nav-bar-nav">
                <li><a href="/">home</a></li>
                <li><a href="/cadastro">cadastro</a></li>
                <li><a href="/about">sobre</a></li>
            </ul>
        </nav>
    </header>
    <main >
        <div class="container">
            <%-body %>
        </div>
    </main>
    <footer class="rodape">
        aula de node

    </footer>
</body>
</html>