body{
    color: black;
    background-color:rgb(97, 33, 33);
}

h1{
    text-align: center;
}
li{
    padding: 10px;
}

footer{
    background-color: rgb(63, 63, 196);
}
.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

 