body{
    color: black;
    background-color:rgb(97, 33, 33);
}


h1{
    text-align: center;
}
li{
    
    
    padding: 10px;
}
a{list-style: none; color: blanchedalmond;}

footer{
    background-color: #423742;
    color: rgb(255, 255, 255);
}
head{
    background: #000;
}
.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

  

 