<%- contentFor( 'body') %>

<div class="jumbotron jumbotron-fluid" style="text-align: center;">
    <div class="container">
      <h1 class="display-4">Trabalho 1</h1>
      <p class="lead">Este trabalho teve como base o código do Professor Wellington Wagner F. Sarmento, <br> desenvolvido em sala de aula.</p>
      <p class="lead">Além disso, utilizei como base os códigos dos seguintes colegas:</p>
      <p class="lead">Daniel Amorim, VaneskaSousa, Jottoss
         
    </p>
    </div>
  </div>