<%- contentFor( 'body') %>


<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">Olá</h1>
  <p class="lead">Esta aplicação foi criada para auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js. </p>
  <hr class="my-4">
  <p>Visualize o código no repositório do GitHub.</p>
  <p class="lead">
    <a class='btn btn-outline-info' href="https://github.com/gabbey-etr/first-app" role="button">Repositório</a>
  </p>
</div>